@model string[]
@{
    Layout = null;
}

<h3>Datas</h3>
<ul class="list-group">
    @foreach (var item in Model)
    {
        <li onclick="SelecionaData('@(item)')" class="list-group-item list-group-item-action @(ViewBag.data != null && ViewBag.data == item?"active":"")">@(item)</li>
    }
</ul>
