<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <title>SysPoint</title>
    <!-- Bootstrap core CSS -->

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/sticky-footer-navbar.css" rel="stylesheet" />
    <link href="//stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    @RenderSection("styles", required: false)

</head>
<body>
    <div class="spinner" style="">
        <i class="fa fa-spinner fa-spin spinner-loader"></i>
    </div>

    <header>
        <!-- Fixed navbar -->
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="/"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/Usuario/Index"><i class="fa fa-user-o" aria-hidden="true"></i> Usuarios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Empresa/Index"><i class="fa fa-user" aria-hidden="true"></i> Empresas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Colaboradores/Index"><i class="fa fa-user" aria-hidden="true"></i> Colaboradores</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/RegistroPonto/Index?Data=@(SysPoint.Helper.Utility.BrazilianDatetimeNow().ToString("dd/MM/yyyy"))"><i class="fa fa-cog" aria-hidden="true"></i> Relatório</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/RegistroPonto/Map"><i class="fa fa-map" aria-hidden="true"></i> Mapa</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>


    

        @if (ViewBag.message_error != null)
        {
            <div class="container">
                <div class="alert alert-danger" role="alert">
                    @ViewBag.message_error
                </div>
            </div>
        }

        @RenderBody()


        <script src="~/Scripts/jquery-3.3.1.min.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>
        <script src="~/Scripts/bootstrap.bundle.min.js"></script>
        <script src="~/Scripts/rsp.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                rsp.loader(
                    function () { $(".spinner").show(); },
                    function () { $(".spinner").hide(); }
                );
                $(".spinner").hide();
            });
        </script>

        @RenderSection("scripts", required: false)
</body>
</html>
