@model List<SysPoint.Models.Empresa>
    @{
        ViewBag.Title = "Empresas";
        Layout = "~/Views/Shared/_LayoutNav.cshtml";
     }
<div class="container">
    <div class="page-header">
        <h1>@ViewBag.Title</h1>
    </div>

    <table class="table table-responsive">
        <thead>
            <tr>
                <th>#</th>
                <th>Nome</th>
                <th>Endereco</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Nome</td>
                    <td>@item.Endereco</td>
                    <td>
                        <a class="btn btn-info" href="/Empresa/Edit/@(item.Id)"><i class="fa fa-pencil"></i></a>
                        <a class="btn btn-danger" href="/Empresa/Delete/@(item.Id)"><i class="fa fa-times"></i></a>
                    </td>
                </tr>
            }

        </tbody>
    </table>
    <div class="row">
        <div class="col-md-3">
            <a href="/Empresa/Edit/0" class="btn btn-info">
                <i class="fa fa-plus"></i>
            </a>
        </div>
    </div>
</div>

