@{
    ViewBag.Title = "Index";
}



<div class="container">
    <div class="card form-group">
        <div class="card-header">
            <h1 class="text-center">Aplicativos</h1>
        </div>
        <div class="card-body">

            <p><a href="/FastCode/Project">Project</a></p>
            <p><a href="/FastCode/Template">Tempalte</a></p>
            <p><a href="/FastCode/Makefile">Makefile</a></p>

        </div>
    </div>


</div>


