@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutOrgaoFacil.cshtml";
}
    



<div class="Titulo" id="TituloProduto">Linhas de Produtos</div>
       
       <div id="Left">
       <a href="/OrgaoFacil/Magnificus">
       <img src="../Templates/Goldenbitt/Imagens/Magnificusorgao.png"width="400" height="300"/>
       </div>
       <div id="Right">
       <a href="/OrgaoFacil/Splendore">
       <img src="../Templates/Goldenbitt/Imagens/Splendoreorgao.png"width="400" height="300"/></a>
       </div>
       <div class="Titulo" id="Linha1">Magníficus</div>
       <div class="Titulo" id="Linha2">Splendore</div>